<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"><title>Sentiment Demo</title>
</head><body><form action="{{ url_for('index_page') }}" method="post">
    <dl>
        <dt>Enter movie review (e.g. good, bad or longer phrases):<br>
	<dt> <br>
        </dt><dd><textarea name="text" rows="5" cols="40">{{ text }}</textarea>
        </dd><dd><input value="Evaluate" type="submit">
    </dd></dl>
</form>

<br>Sentiment prediction: 
{{ prediction_message }}
</body></html>
